/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* GLOBAL */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ecedee;
}
.wrapper {
  margin: auto;
  max-width: 1200px;
  width: 95%;
  height: 100%;
}
h2 {
  font-size: 35px;
}
::placeholder {
  color: #bbbbbb;
}

/* COMMUN */
/* Header */
.header-comp {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header-div1 {
  display: flex;
  align-items: center;
}
.vinted-logo {
  width: 80px;
  margin-right: 50px;
}
.search-container {
  position: relative;
}
.site-search {
  border: none;
  height: 35px;
  width: 300px;
  font-size: 16px;
  padding: 0 30px;
  background-color: #f5f6f7;
  border-radius: 5px;
}
.search-icon {
  color: #bbbbbb;
  position: absolute;
  left: 8px;
  top: 9px;
}
.sign-button,
.sell-button,
.logout-button {
  height: 30px;
  width: 130px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 300;
}
.sign-button {
  background-color: #fff;
  border: 1px solid #2db1bb;
  margin-left: 15px;
  color: #2db1bb;
}
.sell-button {
  background-color: #2db1bb;
  border: none;
  margin-left: 40px;
  color: #fff;
}
.logout-button {
  background-color: #c1175b;
  color: #fff;
  border: none;
}

/* HOME PAGE */
.main-home-comp {
  width: 100%;
  height: 500px;
  position: relative;
}
/* Main Home Banner */
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-home-banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  /* background-color: chocolate; */
  top: 0;
}
.start-sell-container {
  height: 60%;
  width: 400px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #fff;
}
.start-sell-title {
  font-weight: 300;
  margin-bottom: 30px;
}
.start-sell-button {
  background-color: #2db1bb;
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  font-weight: 300;
}
.tear-img {
  position: absolute;
  bottom: 0;
}

/* MainHome Offers*/

.offer-list {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
}
.offer-item-user {
  padding: 10px;
  color: #7b7b7b;
  font-size: 13px;
}
.offer-item-photo {
  width: 220px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.offer-item-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}
.offer-item-details span:not(:first-child) {
  color: #7b7b7b;
}

/* OFFER PAGE */
.main-offer-comp {
  margin-top: 30px;
}
.main-offer-container {
  display: flex;
  justify-content: space-around;
}
.main-offer-img {
  width: 400px;
  height: 600px;
  object-fit: cover;
}
.main-offer-details-container {
  width: 400px;
  height: 600px;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-offer-details-subcontainer {
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #cacaca;
}
.main-offer-price {
  font-size: 22px;
}
.main-offer-details {
  margin-top: 20px;
}
.offer-detail-comp {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.offer-detail-key {
  color: #cacaca;
  font-weight: 300;
}
.main-offer-description-container {
  flex: 1;
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-offer-description-container strong,
.main-offer-description-container p {
  margin-bottom: 20px;
}
.main-offer-description-container p {
  color: #7b7b7b;
  font-weight: 300;
}
.main-offer-description-container span {
  font-weight: 300;
}
.buy-button {
  background-color: #2db1bb;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  font-weight: 300;
}

/* MODAL */
.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  scroll-behavior: unset;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  background-color: #fff;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.title-form {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}
.input-form {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  padding: 10px;
  border-bottom: solid 1px #bbbbbb;
  box-sizing: border-box;
}
.login-button {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 300;
  border: none;
  background-color: #2db1bb;
  color: #fff;
  margin: 20px 0;
}
.redirect-form {
  font-size: 14px;
  font-weight: 300;
  color: #2db1bb;
}
